@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 100px 100px;
  font-family: "Open Sans", sans-serif;
}

.card {
  background-color: rgb(26, 27, 29);
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image :hover {
  transform: 1.5ms;
}

button {
  background-color: cadetblue;
  padding: 5px 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 20px 0px;
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.summary p {
  margin: 5px;
}
.summary h1 {
  margin: 0px;
  font-weight: 200px;
}
.about,
.interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
  color: aliceblue;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: 0px;
  background-color: rgb(35, 49, 70);
  padding: 10px;
}

.footer a {
  color: white;
}
