@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 100px 100px;
  font-family: "Open Sans", sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image {
  background-repeat: no-repeat;
  height: 300px;
}
button {
  background-color: cadetblue;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary p {
  margin: 5px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: 0px;
  background-color: rgb(35, 49, 70);
  padding: 10px;
}

.footer a {
  color: white;
}
